{% extends "doctors/index.html" %}
{% load static %}
<!-- container -->
{% block content %}
    <body class="single-page">
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="index.html" rel="home"><img class="d-block"
                                                                                 src="{% static 'assets/images/logo.png' %}"
                                                                                 alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li class="current-menu-item"><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About us</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'news' %}">News</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>

                                <li class="call-btn button gradient-bg mt-3 mt-md-0">
                                    <a class="d-flex justify-content-center align-items-center" href="#"><img
                                            src="{% static 'assets/images/emergency-call.png' %}"> +34 586 778 8892</a>
                                </li>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Appointments</h1>

                    <div class="breadcrumbs">
                        <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                            <li><a href="#">Home</a></li>
                            <li>Profile</li>
                        </ul>
                    </div><!-- .breadcrumbs -->

                </div>
            </div>
        </div>

        <img class="header-img" src="{% static 'assets/images/about-bg.png' %}" alt="">
    </header><!-- .site-header -->

    <div class="homepage-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="opening-hours">
                        <h2 class="d-flex align-items-center">Opening Hours</h2>

                        <ul class="p-0 m-0">
                            <li>Monday<span>{{doctors.time.monday_am }} - {{ doctors.time.monday_pm }}</span></li>
                            <li>Tuesday<span>{{ doctors.time.tuesday_am }} - {{ doctors.time.tuesday_pm }}</span></li>
                            <li>Wednesday <span>{{ doctors.time.wednesday_am }} - {{ doctors.time.wednesday_pm }}</span></li>
                            <li>Thursday <span>{{ doctors.time.thursday_am }} - {{ doctors.time.thursday_pm }}</span></li>
                            <li>Friday <span>{{ doctors.time.friday_am }} - {{ doctors.time.friday_pm }}</span></li>
                            <li>Saturday <span>{{ doctors.time.saturday_am }} - {{ doctors.time.saturday_pm }}</span></li>
                            <li>Sunday <span>{{ doctors.time.sunday_am }} - {{ doctors.time.sunday_pm }}</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">


                </div>
                <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                    <div class="appointment-box">
                        <h2 class="d-flex align-items-center">Make an Appointment</h2>
                        <form method="post">
                            {% csrf_token %}
                            <h3 style="text-align: center; font-family: Ubuntu">{{ doctors.first_name }} {{ doctors.last_name }}</h3>
                            <input type="text" id="doctor" name="doctor" value='{{ doctors.first_name }}' readonly/>
                            <input type="text" id="name" name="name" value='{{ user.first_name }}' readonly/>

                            <input type="text" id="email" name="email" value='{{ user.email }}' readonly/>

                            {{ forma.date }}
                            {{ forma.time }}
                            <p></p>
                            <button type="submit" class="save btn btn-default btn-submit button gradient-bg">
                                Subscribe
                            </button>
                        </form>

                    </div>


                </div>
            </div>
        </div>

    </div>


{% endblock content %}